@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf');
}

.root {
    -fx-font-family: 'Roboto';
}
